.container {
  color: black;
  width: 100%;

  input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
  }

  input::placeholder {
    color: #ccc;
  }

  label {
    font-size: 1.28em;
  }
}

// Path: src/components/CustomInput.js
