@import "../mixins/global.scss";

.container {
  @include flex(column);
  gap: 3rem;
  padding: 3rem;
}

.searchBarWrapper {
  input[type="search"] {
    background: #fdfafb;
    border-radius: 83px;
    font-size: 1.2em;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    text-align: right;

    &::-webkit-search-cancel-button {
      position: absolute;
      left: 1%;
    }
  }
}

.requestsWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  //   grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  row-gap: 4rem;
}

.noData {
  position: absolute;
  top: 50%;
  left: 50%;
  // transform: translate(-50%, -50%);
}
